* {
  margin: 0;
  padding: 0;
}

#loading {
  display: none;
}

#app {
  width: 800px;
  margin: 0 auto;
}

nav {
  margin: 40px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
